<h1>Listing Transaksi Penjualan</h1>
<%= link_to 'New Transaksi', new_transaksi_path %> 
<table border=1>
  <tr>
    <th>Id Transaksi</th>
    <th>Tanggal Transaksi </th>
    <th>Qty Beli</th>
    <th>Nama Obat</th>
    <th>Golongan Obat</th>
    <th>Nama Konsumen</th>
    <th>Laporan Harga</th>
    
    <th colspan="3">Action</th>
  </tr>
 
  <% @transaksi.each do |transaksi| %>
    <tr>
      <td><%= transaksi.id %></td>
      <td><%= transaksi.tgl %></td>
      <td><%= transaksi.qty_beli %></td>
      <td><%= transaksi.obat.nama_obat %></td>
      <td><%= transaksi.obat.golongan.golongan_obat %></td>
      <td><%= transaksi.penjualan.nama_konsumen %></td>
      <td><%= link_to 'Harga', harga_path(transaksi)%></td>
      <td><%= link_to 'Show', transaksis_path(transaksi) %></td>
      <td><%= link_to 'Edit', edit_transaksi_path(transaksi) %></td>
      <td><%= link_to 'Destroy', transaksi_path(transaksi),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr> 
  <% end %>
  <%= link_to 'Laporan Total QTY Penjualan', lap_path %>
</table>

 